/* google font import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #EBD6BF;
    color: #54424B;
    font-family: 'josefin slab', serif;
}

h1 {
    font-size: 2.5rem;
}

h1, h2 {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1.25rem;
}

#logo {
    display: flex;
    justify-content: center;
}

/* navigation links */

#menu {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}

#menu li {
    text-align: center;
    list-style-type: none;
    font-size: 1.25rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #54424B;
}

.active {
    border-bottom: 1px solid #54424B;
}

/* hero image and cover text section */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#cover-text {
    padding-top: 50px;
}

#cover-text h1 {
    padding-left: 50px;
}

#cover-text h2 {
    padding-left: 50px;
}

/* yoga quote and dancers pose image section */

#yoga-quote {
    height: 300px;
    text-align: center;
}

#yoga-quote h2 {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

#yoga-quote p {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

#dancers-pose {
    text-align: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#dancers-pose img {
    width: 100%;
    object-position: center center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

/* about us and yoga class image section */

#about-us {
    height: 450px;
    text-align: left;
    padding: 0 10% 0 10%;
}

#about-us h2 {
    padding-bottom: 20px;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

#about-us p {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

#yoga-class {
    text-align: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#yoga-class img {
    width: 100%;
    object-position: center center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

/* why yoga */

#why-yoga {
    height: 150px;
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

#why-yoga a {
    font-style: italic;
    text-decoration: none;
    color: inherit;
}

#why-yoga a:hover {
    border-bottom: 1px solid #54424B;
}

#benefits {
    height: 450px;
    padding: 0 10% 0 10%;
}

/* footer */

footer {
    height: 150px;
    border-top: 1px solid #54424B;

}

.media-links {
    text-align: center;
}

.media-links > li {
    display: inline;
}

.media-links i {
    font-size: 1.6rem;
    margin: 1%;
    padding: 5%;
    color: #54424B;
}

/* form */
form {
    border: 1px solid #54424B;
    height: 100%;
    margin: 0 0.5em;
}

label {
    font-size: 1.25rem;
    padding: 0.5em;
    margin: 5px;
}

.form-input-area {
    display: list-item;
    width: -webkit-fill-available;
    font-size: 1.25rem;
    font-family: inherit;
    margin: 0.5em;
    padding: 0.5em;
    border: #54424B solid 1px;
    border-radius: 5px;
}

input[type=submit] {
    cursor: pointer;
}

.form-map-align {
    height: 100%;
    width: 40%;
    overflow: hidden;
    margin: 1em 5%;
}

#form-map-area {
    display: flex;
    flex-direction: row;
}

.form-map-align > p {
    margin-block-start: 0;
}